################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClearBank.DeveloperTest/obj
/ClearBank.DeveloperTest/bin/Debug/net6.0
/ClearBank.DeveloperTest.Tests/bin/Debug/net6.0
/ClearBank.DeveloperTest.Tests/obj
